{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Partidos de Liga de Campeones</title>
  <link rel="stylesheet" href="{% static 'principal/style.css' %}">
</head>
<body>
  <h1>Partidos de Liga de Campeones de la UEFA</h1>

  <div class="tabla-partidos">

    <div class="fecha">12/2/25</div>

    <div class="partido">
      <span class="equipo">Celtic F. C.</span>
      <span class="resultado">1</span>
      <span class="equipo">Bayern</span>
      <span class="resultado">2</span>
    </div>

    <div class="partido">
      <span class="equipo">Mónaco 🔴</span>
      <span class="resultado">0</span>
      <span class="equipo">Benfica</span>
      <span class="resultado">1</span>
    </div>

    <div class="partido">
      <span class="equipo">Feyenoord</span>
      <span class="resultado">1</span>
      <span class="equipo">Milan</span>
      <span class="resultado">0</span>
    </div>

    <div class="fecha">18/2/25</div>

    <div class="partido">
      <span class="equipo">Milan 🔴</span>
      <span class="resultado">1</span>
      <span class="equipo">Feyenoord 🔴</span>
      <span class="resultado">1</span>
      <span class="total">Total: 1 a 2</span>
    </div>

    <div class="partido">
      <span class="equipo">Benfica</span>
      <span class="resultado">3</span>
      <span class="equipo">Mónaco</span>
      <span class="resultado">3</span>
      <span class="total">Total: 4 a 3</span>
    </div>

    <div class="partido">
      <span class="equipo">Atalanta</span>
      <span class="resultado">1</span>
      <span class="equipo">Club Brujas</span>
      <span class="resultado">3</span>
      <span class="total">Total: 2 a 5</span>
    </div>

    <div class="partido">
      <span class="equipo">Bayern</span>
      <span class="resultado">1</span>
      <span class="equipo">Celtic F. C.</span>
      <span class="resultado">1</span>
      <span class="total">Total: 3 a 2</span>
    </div>

  </div>
</body>
</html>
