{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Cuenta - Iniciar sesión / Registro</title>
  <link rel="stylesheet" href="{% static 'principal/style.css' %}"/>
</head>
<body>
  <div class="login-container">
     <div class="text-center">
      <img src="{% static 'principal/imagenes/logo2.png' %}" alt="Logo EcuaFut" height="40">
    </div>

    <!-- Formulario de Inicio de Sesión -->
    <div id="login-form">
      <h2>Inicia sesión con tu cuenta</h2>
      <input type="text" placeholder="Correo o número telefónico" />
      <input type="password" placeholder="Contraseña" />
      <button>Iniciar sesión</button>
      <div class="options">
        <p><a href="#" onclick="mostrarRecuperar()">¿Olvidaste tu contraseña?</a></p>

        <p><a href="#" onclick="mostrarRegistro()">Crear una cuenta nueva</a></p>
      </div>
    </div>

    <!-- Formulario de Registro -->
    <div id="registro-form" style="display: none;">
      <h2>Crea tu cuenta</h2>
      <input type="text" placeholder="Nombre completo" />
      <input type="email" placeholder="Correo electrónico" />
      <input type="tel" placeholder="Número telefónico" />
      <input type="password" placeholder="Contraseña" />
      <input type="password" placeholder="Confirmar contraseña" />
      <button>Registrarse</button>
      <div class="options">
        <p><a href="#" onclick="mostrarLogin()">¿Ya tienes cuenta? Inicia sesión</a></p>
      </div>
    </div>

    <!-- Formulario de Recuperación de Contraseña -->
  <div id="recuperar-form" style="display: none;">
      <h2>Recuperar contraseña</h2>
      <p>Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
      <input type="email" placeholder="Correo electrónico" />
      <button>Enviar enlace</button>
      <div class="options">
        <p><a href="#" onclick="mostrarLogin()">Volver al inicio de sesión</a></p>
      </div>
  </div>

  </div>

  

<script>
  function mostrarRecuperar() {
    document.getElementById("login-form").style.display = "none";
    document.getElementById("registro-form").style.display = "none";
    document.getElementById("recuperar-form").style.display = "block";
  }

  function mostrarLogin() {
    document.getElementById("registro-form").style.display = "none";
    document.getElementById("recuperar-form").style.display = "none";
    document.getElementById("login-form").style.display = "block";
  }

  function mostrarRegistro() {
    document.getElementById("login-form").style.display = "none";
    document.getElementById("recuperar-form").style.display = "none";
    document.getElementById("registro-form").style.display = "block";
  }
</script>


</body>
</html>