{% load static %}
<nav class="navbar glass-navbar">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <!-- Lado izquierdo -->
    <div class="d-flex align-items-center">
      <!-- Crear Dropdown -->
       <a class="nav-link active" href="{% url 'home' %}"><i class="bi bi-house-fill"></i> Home</a>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-item text-white" href="#" role="button" data-bs-toggle="dropdown">
          <i class="bi bi-clipboard2-plus-fill"></i> Ligas
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'crear_liga' %}#ligas">Crear</a></li>
          <li><a class="dropdown-item" href="{% url 'visualizar_liga' %}#jugadores">Vizualizar</a></li>
        </ul>
      </div>
      <!-- Actualizar Dropdown -->
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-item text-white" href="#" role="button" data-bs-toggle="dropdown">
          <i class="bi bi-arrow-up-circle-fill"></i> Equipos
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'crear_equipo' %}#ligas">Crear</a></li>
          <li><a class="dropdown-item" href="{% url 'visualizar_equipo' %}#equipos">Visualizar</a></li>
        </ul>
      </div>
      <!-- Eliminar Dropdown -->
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-item text-white" href="#" role="button" data-bs-toggle="dropdown">
          <i class="bi bi-people-fill"></i> Jugadores
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'crear_jugador' %}#ligas">Crear</a></li>
          <li><a class="dropdown-item" href="{% url 'visualizar_jugador' %}#jugadores">Visualizar</a></li>
        </ul>
      </div>
      <a class="nav-link active" href="{% url 'prueba' %}"><i class="bi bi-calendar3"></i> Calendario</a>
      <a class="nav-link active" href="{% url 'mi_partido' %}"><i class="bi bi-cookie"></i> Mis partidos</a>
      {% if user.is_superuser %}
      <a class="nav-link active" href="{% url 'recargar_saldo' %}"><i class="bi bi-coin"></i> Recargar saldo</a>
       {% endif %}
    </div>
    
    

    <!-- Logo al centro -->
      


    <!-- Lado derecho -->

    <div class="d-flex align-items-center">
      {% if user.is_authenticated %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown">
          <i class="bi bi-person-circle"></i>
          {{ user.username|default:"user" }}
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" href="{% url 'ayuda' %}"><i class="bi bi-question-lg"></i> Ayuda</a>
          </li>
          {% if user.is_staff %}
          <li>
            <a class="dropdown-item" href="{% url 'adminis' %}"><i class="bi bi-gear"></i> Administrador</a>
          </li>
          <li>
            {% endif %}
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item text-danger" href="{% url 'cerrar_sesion' %}">
              <i class="bi bi-box-arrow-left"></i> Cerrar sesión
            </a>
          </li>
        </ul>
      </div>
      {% else %}
      <a href="{% url 'login' %}" class="btn btn-light btn-lg">Iniciar sesión</a>
      {% endif %}
    </div>



  </div>
</nav>